* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg,
            #4f46e5,
            #9333ea);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.pricing {
    text-align: center;
    color: white;
}

.pricing h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {

    background: white;
    color: #111;

    width: 300px;

    padding: 35px;

    border-radius: 25px;

    position: relative;

    transition: .5s;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, .2);
}

.card:hover {

    transform:
        translateY(-15px) scale(1.05);

}

.popular {
    transform: scale(1.1);
}

.badge {

    position: absolute;

    top: -15px;
    right: 20px;

    background: #ff9800;

    padding: 8px 15px;

    border-radius: 20px;

    color: white;
    font-size: 14px;
}

h2 {
    margin-bottom: 20px;
}

.price {

    font-size: 45px;
    font-weight: bold;

    margin-bottom: 25px;
}

.price span {

    font-size: 16px;
    color: gray;
}

ul {
    list-style: none;
    margin-bottom: 30px;
}

ul li {
    margin: 15px 0;
}

i {
    color: green;
}

button {

    padding: 12px 25px;

    border: none;

    border-radius: 30px;

    background: #4f46e5;

    color: white;

    cursor: pointer;

    transition: .4s;
}

button:hover {

    background: #9333ea;

    transform: scale(1.05);

}