* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg,
            #0f172a,
            #4f46e5);
}

.form-box {

    width: 350px;
    padding: 35px;

    background: white;

    border-radius: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {

    width: 100%;

    padding: 15px;
    margin: 12px 0;

    border: 1px solid #ddd;
    border-radius: 30px;
}

.password-box {
    position: relative;
}

.password-box i {

    position: absolute;
    right: 15px;
    top: 28px;

    cursor: pointer;
}

.strength {

    height: 10px;
    background: #eee;

    border-radius: 20px;

    margin-top: 15px;
    overflow: hidden;
}

#strengthBar {

    width: 0%;
    height: 100%;
    transition: .5s;
}

button {

    width: 100%;
    padding: 15px;
    margin-top: 20px;

    border: none;

    border-radius: 30px;

    background: #4f46e5;

    color: white;
    cursor: pointer;
}